{% load static %}

<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>  Preferred Learning Style Determination</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style media="screen">
      div.sliders {
      margin: 20px auto;
      background-color: #000000;
      width: 50%;
      padding: 20px;
      }
      .slide-option {
        display: flex;
        flex-direction: row;
      }
      div.slider {
      display: block;
      width: 100%;
      margin: 20px auto;
      background-color: #ffffff;
      height: 20px;
      border: 1px solid rgb(200,200,200);
      }

      div.slide {
      width: 33%;
      height: 100%;
      background: #1663AC;
      position: relative;
      }

      div.control {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      // padding: 40px;
      background: #7C71A1;
      position: absolute;
      right: -7px;
      top: 50%;
      margin-top: -7px;
      cursor: pointer;
      }
      .switch{
      position:relative;
      left:-100px;
      }

      .hidden{
      display:none;
      }
    </style>
    <script>

   function updateTextInput1(val) {
          document.getElementById('percent1').innerHTML=val; 
        }
    function updateTextInput2(val) {
          document.getElementById('percent2').innerHTML=val; 
        }
    function updateTextInput3(val) {
          document.getElementById('percent3').innerHTML=val; 
        }
    $(document).ready(function() {
      
      
      //console.log(slider1,slider2,slider3)  

    var max_total = 100;
    
    // slider1-slider2 pair
     $("#slider1").on("change", function(){

            var slider1 = document.getElementById('slider1').value;
            var slider3 = document.getElementById('slider3').value;
            slider1 = Math.min(slider1,max_total-slider3);  //max possible slider value
            if (slider1<max_total-slider3){   
              // slider2 != 0
              var slider2 = max_total - slider1 - slider3;

            }

            else{
              var slider2 = 0;
            }

            $("#slider1").prop("value", slider1);
            document.getElementById('percent1').innerHTML = slider1;
            $("#slider2").prop("value", slider2);
            document.getElementById('percent2').innerHTML = slider2;
            
        });

        // slider2-slider3 pair
      $("#slider2").on("change", function(){
            
            var slider1 = document.getElementById('slider1').value;
            var slider2 = document.getElementById('slider2').value;
            slider2 = Math.min(slider2,max_total-slider1);  //max possible slider value
            if (slider2<max_total-slider1){   
              // slider3 != 0
              var slider3 = max_total - slider1 - slider2;
            }

            else{
              var slider3 = 0;
              
            }

            $("#slider2").prop("value", slider2);
            document.getElementById('percent2').innerHTML =  slider2;
            $("#slider3").prop("value", slider3);
            document.getElementById('percent3').innerHTML =  slider3;
            
        });
        //slider3-slider1 pair
       $("#slider3").on("change", function(){
            
            var slider2 = document.getElementById('slider2').value;
            var slider3 = document.getElementById('slider3').value;
            slider3 = Math.min(slider3,max_total-slider2);  //max possible slider value
            if (slider3<max_total-slider2){   
              // slider1 != 0
              var slider1 = max_total - slider3 - slider2;
            }

            else{
              var slider1 = 0;
            }

            $("#slider3").prop("value", slider3);
            document.getElementById('percent3').innerHTML =  slider3;
            $("#slider1").prop("value", slider1);
            document.getElementById('percent1').innerHTML = slider1;
        });
    });
    
    </script>
</head>
<body>
    <div class="chat-app-wrapper">
        <div>
          <div style="background-color: #525151; top:0;left:0;width:100%; position:relative;height:15px;"></div>
        </div>
        <br><br>

        <nav>
            <div class="nav-left-section">
                <span id="title"> <img src="static/home/img/ibm-logo.png" width=150px></img> </span>
                <span class="nav-right-section" style="float:right;display:inline-block">
                  <form class="" action="{% url 'home:revisit' %}" method="GET">
                    {% csrf_token %}
                    <button type="submit" name="revisit" style="width:130%;height:1%;color:white;">Revisit Later?</button>
                  </form>
               </span>
            </div>
            
        </nav>
        <div class="chat">
          <br>

          <center>
            <div class="progress" style="width:50%;">
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow={{ progress }} aria-valuemin="0" aria-valuemax="100" style="width:{{ progress }}%">

              </div>
            </div>
            <span style="color:rgb(225,225,225)">{{ progress }}% Complete</span>
          </center>

          <br><br>
            <div class="container">
                <div class="msg-header">
                  <span>
                    <div class="active">
                        <h5 style = "white-space: nowrap; font-weight: bold;">
                           Q{{q}}
                        </h5>
                    </div>
                  </span>
                  <span class="tab">
                  <span style="align-items:right;">
                    <div>
                      <span class="circles" style="background-color: #4BAF7F;" ></span>        
                      <span class="circles" style="background-color: #F1D46E;" ></span>
                      <span class="circles" style="background-color: #FF0000;" ></span>
                    </div>
                  </span>
                </div>

                <div class="chat-page">
                    <div class="msg-inbox">
                        <div class="chats" id="chats">
                            <div class="msg-page" id="msg-page">
                                <div class="loading-message-container" id="loading-message-container" style="display: none;">
                                    <div class="spinner">
                                            <svg width="100" height="100" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#003">
                                                <g fill="none" fill-rule="evenodd">
                                                  <g transform="translate(1 1)" stroke-width="2">
                                                    <circle stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
                                                    <path d="M36 18c0-9.94-8.06-18-18-18">
                                                      <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
                                                    </path>
                                                  </g>
                                                </g>
                                              </svg>
                                    </div>
                                </div>


                                <div>
                                    <div id="group-message-holder" style="">

<!--  ############################################# -->


<!--  ############################################# -->
                            <div class="w3-container" style='width:80%; float:center;'>
                              <form class="" action="{% url 'home:reattempt' %}" method="POST">
                                {% csrf_token %}
                                  {{ content }}
                              </form>
                            </div>

                            <form class="" action="{% url 'home:reattempt' %}" method="POST">
                              {% csrf_token %}
                                {{ exit }}
                            </form>

                             <br><br><br><br>

<!--  ############################################# -->

                </div>
                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
              <br><br><br><br>

            </div>
        </div>
      
        <footer style="background-color:#525151; top:0; left:0;width:100%; position:relative; height:80px;">
          <div style="padding-top:18px; text-align:center; line-height: 25px;">
            <div style="color:white;">Need help? Contact us at placeholder@in.ibm.com</div>
            <div style="color:white;"> <i class="fas fa-copyright"></i> All rights reserved. IBM India Private Limited.</div>
          </div>

        </footer>
    </div>



</body></html>
